<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>W</key>
		<real>-39.0</real>
		<key>Y</key>
		<real>-21.0</real>
	</dict>
	<key>A.alt2</key>
	<dict>
		<key>V.alt2</key>
		<real>-297.0</real>
		<key>W.alt2</key>
		<real>-291.0</real>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<real>-59.0</real>
		<key>Y</key>
		<real>-41.0</real>
		<key>h</key>
		<real>-10.0</real>
	</dict>
	<key>C</key>
	<dict>
		<key>e</key>
		<real>-10.0</real>
	</dict>
	<key>D</key>
	<dict>
		<key>M</key>
		<real>-20.0</real>
		<key>V</key>
		<real>-37.0</real>
		<key>W</key>
		<real>-30.0</real>
		<key>Z</key>
		<real>-27.0</real>
		<key>i</key>
		<real>-10.0</real>
	</dict>
	<key>E</key>
	<dict>
		<key>M</key>
		<real>-19.0</real>
		<key>O</key>
		<real>-17.0</real>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<real>-190.0</real>
		<key>T</key>
		<real>10.0</real>
	</dict>
	<key>G</key>
	<dict>
		<key>W</key>
		<real>-35.0</real>
		<key>Y</key>
		<real>-17.0</real>
		<key>d</key>
		<real>10.0</real>
	</dict>
	<key>I</key>
	<dict>
		<key>J</key>
		<real>30.0</real>
		<key>K</key>
		<real>10.0</real>
		<key>T</key>
		<real>20.0</real>
		<key>a</key>
		<real>20.0</real>
		<key>b</key>
		<real>10.0</real>
		<key>n</key>
		<real>20.0</real>
		<key>o</key>
		<real>10.0</real>
		<key>p</key>
		<real>20.0</real>
		<key>q</key>
		<real>20.0</real>
		<key>r</key>
		<real>10.0</real>
		<key>s</key>
		<real>10.0</real>
		<key>v</key>
		<real>44.0</real>
		<key>w</key>
		<real>10.0</real>
		<key>x</key>
		<real>20.0</real>
	</dict>
	<key>J</key>
	<dict>
		<key>e</key>
		<real>-10.0</real>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<real>-23.0</real>
		<key>H</key>
		<real>-21.0</real>
		<key>a</key>
		<real>-10.0</real>
		<key>o</key>
		<real>-30.0</real>
		<key>y</key>
		<real>-10.0</real>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<real>-201.0</real>
		<key>W</key>
		<real>-111.0</real>
		<key>Y</key>
		<real>-165.0</real>
		<key>l</key>
		<real>10.0</real>
	</dict>
	<key>M</key>
	<dict>
		<key>a</key>
		<real>-10.0</real>
		<key>c</key>
		<real>-20.0</real>
	</dict>
	<key>N</key>
	<dict>
		<key>e</key>
		<real>-10.0</real>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<real>-35.0</real>
		<key>W</key>
		<real>-35.0</real>
		<key>X</key>
		<real>-31.0</real>
		<key>c</key>
		<real>-20.0</real>
		<key>g</key>
		<real>-10.0</real>
		<key>z</key>
		<real>-20.0</real>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<real>-29.0</real>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<real>-33.0</real>
		<key>W</key>
		<real>-33.0</real>
	</dict>
	<key>S</key>
	<dict>
		<key>N</key>
		<real>-29.0</real>
		<key>W</key>
		<real>-33.0</real>
		<key>w</key>
		<real>-30.0</real>
	</dict>
	<key>T</key>
	<dict>
		<key>o</key>
		<real>-23.0</real>
		<key>s</key>
		<real>-21.0</real>
	</dict>
	<key>U</key>
	<dict>
		<key>s</key>
		<real>-10.0</real>
		<key>v</key>
		<real>-20.0</real>
		<key>w</key>
		<real>-10.0</real>
		<key>x</key>
		<real>-10.0</real>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<real>-11.0</real>
		<key>e</key>
		<real>-50.0</real>
		<key>i</key>
		<real>10.0</real>
		<key>o</key>
		<real>-50.0</real>
		<key>s</key>
		<real>-56.0</real>
	</dict>
	<key>V.alt</key>
	<dict>
		<key>A.alt</key>
		<real>-291.0</real>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<real>-49.0</real>
		<key>O</key>
		<real>-45.0</real>
		<key>a</key>
		<real>-60.0</real>
		<key>e</key>
		<real>-80.0</real>
		<key>h</key>
		<real>-30.0</real>
		<key>i</key>
		<real>-40.0</real>
		<key>o</key>
		<real>-65.0</real>
		<key>u</key>
		<real>-60.0</real>
		<key>y</key>
		<real>-21.0</real>
	</dict>
	<key>X</key>
	<dict>
		<key>B</key>
		<real>-25.0</real>
		<key>a</key>
		<real>-20.0</real>
		<key>e</key>
		<real>-20.0</real>
	</dict>
	<key>Y</key>
	<dict>
		<key>a</key>
		<real>-17.0</real>
		<key>e</key>
		<real>-51.0</real>
		<key>o</key>
		<real>-51.0</real>
		<key>p</key>
		<real>-19.0</real>
		<key>s</key>
		<real>-47.0</real>
		<key>u</key>
		<real>-17.0</real>
	</dict>
	<key>Z</key>
	<dict>
		<key>e</key>
		<real>-30.0</real>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<real>-29.0</real>
		<key>c</key>
		<real>-35.0</real>
		<key>g</key>
		<real>-10.0</real>
		<key>h</key>
		<real>-10.0</real>
		<key>k</key>
		<real>-10.0</real>
		<key>l</key>
		<real>-27.0</real>
		<key>m</key>
		<real>-29.0</real>
		<key>n</key>
		<real>-9.0</real>
		<key>r</key>
		<real>-27.0</real>
		<key>s</key>
		<real>-23.0</real>
		<key>v</key>
		<real>-39.0</real>
		<key>w</key>
		<real>-43.0</real>
		<key>x</key>
		<real>-21.0</real>
		<key>z</key>
		<real>-29.0</real>
	</dict>
	<key>b</key>
	<dict>
		<key>a</key>
		<real>-10.0</real>
		<key>quoteright</key>
		<real>10.0</real>
		<key>u</key>
		<real>-10.0</real>
		<key>v</key>
		<real>-11.0</real>
		<key>w</key>
		<real>-23.0</real>
	</dict>
	<key>c</key>
	<dict>
		<key>I</key>
		<real>-20.0</real>
		<key>a</key>
		<real>-10.0</real>
		<key>b</key>
		<real>-10.0</real>
		<key>c</key>
		<real>-10.0</real>
		<key>e</key>
		<real>-25.0</real>
		<key>h</key>
		<real>-29.0</real>
		<key>k</key>
		<real>-29.0</real>
		<key>o</key>
		<real>-10.0</real>
		<key>r</key>
		<real>-10.0</real>
		<key>t</key>
		<real>-27.0</real>
		<key>u</key>
		<real>-27.0</real>
		<key>z</key>
		<real>-29.0</real>
	</dict>
	<key>d</key>
	<dict>
		<key>e</key>
		<real>-23.0</real>
		<key>o</key>
		<real>-23.0</real>
		<key>r</key>
		<real>-10.0</real>
		<key>u</key>
		<real>-25.0</real>
		<key>w</key>
		<real>-10.0</real>
		<key>y</key>
		<real>-20.0</real>
	</dict>
	<key>e</key>
	<dict>
		<key>c</key>
		<real>-25.0</real>
		<key>e</key>
		<real>-25.0</real>
		<key>g</key>
		<real>-10.0</real>
		<key>h</key>
		<real>-10.0</real>
		<key>j</key>
		<real>10.0</real>
		<key>l</key>
		<real>-26.0</real>
		<key>o</key>
		<real>-20.0</real>
		<key>r</key>
		<real>-7.0</real>
		<key>s</key>
		<real>-10.0</real>
		<key>v</key>
		<real>-57.0</real>
		<key>w</key>
		<real>-41.0</real>
		<key>x</key>
		<real>-21.0</real>
		<key>y</key>
		<real>-10.0</real>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<real>10.0</real>
		<key>comma</key>
		<real>-99.0</real>
		<key>d</key>
		<real>10.0</real>
		<key>h</key>
		<real>10.0</real>
		<key>j</key>
		<real>20.0</real>
		<key>l</key>
		<real>20.0</real>
		<key>n</key>
		<real>20.0</real>
		<key>o</key>
		<real>10.0</real>
		<key>t</key>
		<real>30.0</real>
		<key>u</key>
		<real>10.0</real>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<real>-25.0</real>
		<key>c</key>
		<real>-23.0</real>
		<key>e</key>
		<real>-23.0</real>
		<key>f</key>
		<real>-10.0</real>
		<key>g</key>
		<real>-20.0</real>
		<key>m</key>
		<real>-10.0</real>
		<key>o</key>
		<real>-23.0</real>
		<key>r</key>
		<real>-25.0</real>
		<key>s</key>
		<real>-21.0</real>
		<key>u</key>
		<real>-25.0</real>
		<key>w</key>
		<real>-41.0</real>
		<key>y</key>
		<real>-20.0</real>
		<key>z</key>
		<real>-10.0</real>
	</dict>
	<key>h</key>
	<dict>
		<key>e</key>
		<real>-1.0</real>
	</dict>
	<key>i</key>
	<dict>
		<key>a</key>
		<real>1.0</real>
		<key>c</key>
		<real>10.0</real>
		<key>d</key>
		<real>20.0</real>
		<key>e</key>
		<real>10.0</real>
		<key>f</key>
		<real>20.0</real>
		<key>g</key>
		<real>0.0</real>
		<key>h</key>
		<real>20.0</real>
		<key>k</key>
		<real>10.0</real>
		<key>l</key>
		<real>30.0</real>
		<key>n</key>
		<real>40.0</real>
		<key>p</key>
		<real>20.0</real>
		<key>q</key>
		<real>50.0</real>
		<key>r</key>
		<real>30.0</real>
		<key>s</key>
		<real>40.0</real>
		<key>t</key>
		<real>20.0</real>
		<key>v</key>
		<real>10.0</real>
		<key>w</key>
		<real>20.0</real>
		<key>x</key>
		<real>20.0</real>
		<key>z</key>
		<real>10.0</real>
	</dict>
	<key>j</key>
	<dict>
		<key>a</key>
		<real>10.0</real>
		<key>j</key>
		<real>40.0</real>
		<key>u</key>
		<real>10.0</real>
	</dict>
	<key>k</key>
	<dict>
		<key>i</key>
		<real>10.0</real>
	</dict>
	<key>l</key>
	<dict>
		<key>a</key>
		<real>11.0</real>
		<key>b</key>
		<real>3.0</real>
		<key>d</key>
		<real>30.0</real>
		<key>e</key>
		<real>10.0</real>
		<key>f</key>
		<real>10.0</real>
		<key>i</key>
		<real>30.0</real>
		<key>l</key>
		<real>10.0</real>
		<key>n</key>
		<real>10.0</real>
		<key>o</key>
		<real>10.0</real>
		<key>u</key>
		<real>11.0</real>
		<key>y</key>
		<real>20.0</real>
		<key>z</key>
		<real>10.0</real>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<real>-31.0</real>
		<key>b</key>
		<real>-30.0</real>
		<key>c</key>
		<real>-40.0</real>
		<key>e</key>
		<real>-40.0</real>
		<key>g</key>
		<real>-43.0</real>
		<key>k</key>
		<real>-57.0</real>
		<key>m</key>
		<real>-57.0</real>
		<key>n</key>
		<real>-10.0</real>
		<key>p</key>
		<real>-57.0</real>
		<key>w</key>
		<real>-69.0</real>
	</dict>
	<key>n</key>
	<dict>
		<key>b</key>
		<real>-29.0</real>
		<key>c</key>
		<real>-25.0</real>
		<key>e</key>
		<real>-30.0</real>
		<key>g</key>
		<real>-10.0</real>
		<key>o</key>
		<real>-25.0</real>
		<key>p</key>
		<real>-29.0</real>
		<key>s</key>
		<real>-20.0</real>
		<key>x</key>
		<real>-21.0</real>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<real>-27.0</real>
		<key>b</key>
		<real>-10.0</real>
		<key>l</key>
		<real>-27.0</real>
		<key>n</key>
		<real>-29.0</real>
		<key>o</key>
		<real>-25.0</real>
		<key>r</key>
		<real>-27.0</real>
		<key>s</key>
		<real>-23.0</real>
		<key>t</key>
		<real>-17.0</real>
		<key>u</key>
		<real>-27.0</real>
		<key>v</key>
		<real>-27.0</real>
		<key>w</key>
		<real>-71.0</real>
		<key>x</key>
		<real>-27.0</real>
	</dict>
	<key>p</key>
	<dict>
		<key>j</key>
		<real>10.0</real>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>T</key>
		<real>10.0</real>
	</dict>
	<key>q</key>
	<dict>
		<key>u</key>
		<real>-17.0</real>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>l</key>
		<real>20.0</real>
		<key>t</key>
		<real>20.0</real>
		<key>v</key>
		<real>40.0</real>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<real>20.0</real>
		<key>b</key>
		<real>10.0</real>
		<key>comma</key>
		<real>-157.0</real>
		<key>d</key>
		<real>31.0</real>
		<key>e</key>
		<real>10.0</real>
		<key>f</key>
		<real>20.0</real>
		<key>g</key>
		<real>10.0</real>
		<key>h</key>
		<real>10.0</real>
		<key>i</key>
		<real>20.0</real>
		<key>l</key>
		<real>10.0</real>
		<key>n</key>
		<real>20.0</real>
		<key>o</key>
		<real>5.0</real>
		<key>s</key>
		<real>20.0</real>
		<key>u</key>
		<real>20.0</real>
		<key>v</key>
		<real>10.0</real>
		<key>z</key>
		<real>10.0</real>
	</dict>
	<key>s</key>
	<dict>
		<key>c</key>
		<real>-21.0</real>
		<key>e</key>
		<real>-21.0</real>
		<key>g</key>
		<real>-11.0</real>
		<key>k</key>
		<real>-25.0</real>
		<key>n</key>
		<real>-25.0</real>
		<key>o</key>
		<real>-20.0</real>
		<key>u</key>
		<real>-33.0</real>
		<key>v</key>
		<real>-43.0</real>
		<key>w</key>
		<real>-30.0</real>
		<key>x</key>
		<real>-23.0</real>
		<key>z</key>
		<real>-25.0</real>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<real>30.0</real>
		<key>b</key>
		<real>10.0</real>
		<key>d</key>
		<real>50.0</real>
		<key>h</key>
		<real>20.0</real>
		<key>m</key>
		<real>30.0</real>
		<key>period</key>
		<real>10.0</real>
		<key>r</key>
		<real>10.0</real>
		<key>s</key>
		<real>10.0</real>
		<key>t</key>
		<real>10.0</real>
		<key>v</key>
		<real>5.0</real>
		<key>y</key>
		<real>10.0</real>
		<key>z</key>
		<real>20.0</real>
	</dict>
	<key>u</key>
	<dict>
		<key>b</key>
		<real>-27.0</real>
		<key>c</key>
		<real>-25.0</real>
		<key>e</key>
		<real>-25.0</real>
		<key>f</key>
		<real>-25.0</real>
		<key>g</key>
		<real>-10.0</real>
		<key>k</key>
		<real>-10.0</real>
		<key>m</key>
		<real>-27.0</real>
		<key>o</key>
		<real>-10.0</real>
		<key>p</key>
		<real>-27.0</real>
		<key>quoteright</key>
		<real>-20.0</real>
		<key>s</key>
		<real>-23.0</real>
		<key>t</key>
		<real>-25.0</real>
		<key>w</key>
		<real>-10.0</real>
		<key>x</key>
		<real>-19.0</real>
		<key>z</key>
		<real>-27.0</real>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<real>-32.0</real>
		<key>e</key>
		<real>-30.0</real>
		<key>i</key>
		<real>10.0</real>
		<key>o</key>
		<real>-10.0</real>
		<key>v</key>
		<real>10.0</real>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<real>-30.0</real>
		<key>c</key>
		<real>-30.0</real>
		<key>e</key>
		<real>-32.0</real>
		<key>g</key>
		<real>-49.0</real>
		<key>h</key>
		<real>-20.0</real>
		<key>i</key>
		<real>-20.0</real>
		<key>l</key>
		<real>-10.0</real>
		<key>n</key>
		<real>-27.0</real>
		<key>o</key>
		<real>-60.0</real>
		<key>r</key>
		<real>-59.0</real>
		<key>s</key>
		<real>-55.0</real>
		<key>t</key>
		<real>-6.0</real>
		<key>u</key>
		<real>-20.0</real>
		<key>y</key>
		<real>-25.0</real>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<real>-23.0</real>
		<key>u</key>
		<real>-20.0</real>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<real>-25.0</real>
		<key>c</key>
		<real>-25.0</real>
		<key>e</key>
		<real>-25.0</real>
		<key>k</key>
		<real>-20.0</real>
		<key>l</key>
		<real>-10.0</real>
		<key>n</key>
		<real>-27.0</real>
		<key>o</key>
		<real>-25.0</real>
		<key>p</key>
		<real>-10.0</real>
		<key>r</key>
		<real>-20.0</real>
		<key>s</key>
		<real>-10.0</real>
		<key>w</key>
		<real>-10.0</real>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<real>-27.0</real>
		<key>e</key>
		<real>-25.0</real>
		<key>h</key>
		<real>-10.0</real>
		<key>l</key>
		<real>-27.0</real>
		<key>t</key>
		<real>-27.0</real>
		<key>z</key>
		<real>-29.0</real>
	</dict>
</dict>
</plist>
